@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;1,200;1,300;1,400;1,600;1,700&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

body {
  font-family: 'Titillium Web';
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container {
  margin: 0 auto;
  max-width: 1105px;
}

@media (max-width: 1105px) {
  .container {
    max-width: 970px;
  }
}

@media (max-width: 992px) {
  .container {
    max-width: 750px;
  }
}

@media (max-width: 767px) {
  .container {
    max-width: none;
  }
}

.header {
  background: #87509c;
}

.header__row {
  height: 151px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__menu {
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 400;
}

@media (max-width: 550px) {
  .header__menu {
    font-size: 10px;
  }
}

.header__menu a {
  padding: 3px 15px;
  color: #fff;
  border-radius: 4px;
}

.header__menu a:hover {
  background: #643a79;
}

@media (max-width: 550px) {
  .header__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

.content {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.button {
  position: relative;
  padding: 20px 58px;
  text-transform: uppercase;
  color: #fff;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 0.02em;
  border-radius: 4px;
  -webkit-box-shadow: 0 3px 0px 0px #eb7e4bb4;
          box-shadow: 0 3px 0px 0px #eb7e4bb4;
  -webkit-transition: background 0.8s ease 0s;
  transition: background 0.8s ease 0s;
}

.button:hover {
  -webkit-transition: background 0.6s ease 0s;
  transition: background 0.6s ease 0s;
}

.button:active {
  top: 2px;
}

.title {
  color: #fff;
  text-align: center;
  margin: 0 auto;
}

.title__header {
  font-size: 40px;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 0.1em;
}

.title__header::after {
  content: '';
  position: relative;
  top: 0px;
  left: 42%;
  width: 87px;
  height: 4px;
  background: #000;
  opacity: 0.14;
  display: block;
  text-align: center;
  margin: 21px 0;
}

.title__text {
  font-size: 18px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0.02em;
}

.hi {
  background: #87509c;
  text-align: center;
  padding: 88px 0 145px 0;
}

.hi__title {
  text-align: center;
  font-size: 42.2px;
  line-height: 48px;
  font-weight: 700;
  color: #f7feea;
  margin: 0px 0 54px 0;
}

.hi__button {
  background: #eb7d4b;
}

.hi__button:hover {
  background: #d07540;
}

.hi__button:active {
  -webkit-box-shadow: 0 1px 0px 0px #eb7e4bb4;
          box-shadow: 0 1px 0px 0px #eb7e4bb4;
}

.services {
  background: #17c2a4;
  padding: 119px 0 128px 0;
}

.services__title {
  max-width: 600px;
}

.services__body {
  margin: 83px 0 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.columnbody {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 18%;
          flex: 0 1 18%;
  color: #fff;
  text-align: center;
}

.columnbody__img {
  margin: 0 0 62px 0;
}

.columnbody__title {
  text-transform: uppercase;
  font-size: 24px;
  font-weight: 700;
  margin: 0 0 27px;
}

.columnbody__text {
  font-size: 16px;
  line-height: 24px;
  font-weight: 300;
}

@media (max-width: 767px) {
  .services__body {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 60px 100px;
  }
  .columnbody {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 30%;
            flex: 0 1 30%;
  }
}

@media (max-width: 565px) {
  .columnbody {
    padding: 0 30px;
    margin: 0 0 30px 0;
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
  }
}

.meet {
  background: #e7f1f8;
  padding: 119px 0 128px 0;
}

.meet__title {
  margin: 0 auto;
  color: #3c4761;
  max-width: 650px;
}

.meet__body {
  margin: 78px 0 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.meetcolumn {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 18%;
          flex: 0 1 18%;
  text-align: center;
}

.meetcolumn__img {
  border-radius: 50%;
}

.meetcolumn__title {
  font-size: 24px;
  font-weight: 700;
  text-transform: uppercase;
  color: #27283d;
  margin: 41px 0 15px;
}

.meetcolumn__subtitle {
  font-size: 16px;
  font-weight: 400;
  color: #30bae7;
}

.meetcolumn__text {
  font-size: 16px;
  line-height: 24px;
  font-weight: 300;
  color: #3c4761;
  margin: 26px 0 31px;
}

.meetcolumn__icons a {
  margin: 0 6px;
}

@media (max-width: 992px) {
  .meet__body {
    gap: 70px 10px;
  }
  .meetcolumn {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 40%;
            flex: 0 1 40%;
  }
}

@media (max-width: 767px) {
  .meet__body {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 70px 30px;
  }
}

@media (max-width: 565px) {
  .meetcolumn {
    padding: 0 20px;
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
  }
}

.skills {
  padding: 117px 0 122px 0;
}

.skills__title {
  max-width: 585px;
  color: #3c4761;
  margin: 0 auto;
}

.skills__body {
  margin: 84px 0 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.skillsbody {
  text-align: center;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 25%;
          flex: 0 1 25%;
}

.skillsbody__img {
  margin: 0 0 32px 0;
}

.skillsbody__title {
  text-align: center;
  font-size: 24px;
  font-weight: 700;
  text-transform: uppercase;
  color: #3c4761;
}

@media (max-width: 767px) {
  .skills__body {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 100px 0;
  }
  .skillsbody {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 40%;
            flex: 0 1 40%;
  }
}

@media (max-width: 565px) {
  .skillsbody {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
  }
}

.portfolio {
  background: #ffdd99;
  padding: 120px 0 109px 0;
  text-align: center;
}

.portfolio__title {
  color: #393939;
  max-width: 525px;
  margin: 0 auto;
}

.portfolio__menu {
  margin: 42px 0 62px 0;
}

.portfolio__menu a {
  font-size: 18px;
  font-weight: 400;
  color: #393939;
  padding: 3px 20px;
  border-radius: 3px;
  background: #ebcc8d;
  margin: 0 3px;
}

.portfolio__menu a:hover {
  background: #fff;
}

.portfolio__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.portfolio__button {
  background: #17c2a4;
  -webkit-box-shadow: 0 3px 0 0 #25917d;
          box-shadow: 0 3px 0 0 #25917d;
}

.portfolio__button:hover {
  background: #5ddbc4;
}

.portfolio__button:active {
  -webkit-box-shadow: 0 1px 0 0 #25917d;
          box-shadow: 0 1px 0 0 #25917d;
}

.portfoliobody {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  text-align: center;
  margin: 0 0 50px 0;
}

.portfoliobody__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  margin: 0 0 27px 0;
}

.portfoliobody__title {
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 400;
  color: #393939;
}

@media (max-width: 1105px) {
  .portfolio__body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (max-width: 363px) {
  .portfolio__menu a {
    font-size: 12px;
  }
}

.about-us {
  background: #d74680;
  padding: 119px 0 0 0;
}

.about-us__title {
  max-width: 620px;
  margin: 0 auto;
}

.about-us__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 50px 95px;
  margin: 71px 0 0 0;
}

.bodyblock {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 500px;
          flex: 0 1 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 48px;
  margin: 0 0 128px 0;
}

.bodyblock__photo {
  border-radius: 50%;
}

.bodyblock__comments {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 350px;
          flex: 0 1 350px;
}

.bodyblock__text {
  font-size: 21px;
  line-height: 31px;
  font-style: italic;
  color: #fff;
  margin: 0 0 28px 0;
}

.bodyblock__name {
  text-transform: uppercase;
  font-size: 24px;
  line-height: 26px;
  color: #fff;
  margin: 0 0 9px 0;
}

.bodyblock__function {
  font-size: 18px;
  line-height: 26px;
  color: #ffdd99;
}

@media (max-width: 1105px) {
  .bodyblock {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 400px;
            flex: 0 1 400px;
  }
}

@media (max-width: 992px) {
  .about-us__body {
    gap: 0px 40px;
  }
  .bodyblock {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 350px;
            flex: 0 1 350px;
    gap: 10px;
  }
}

@media (max-width: 742px) {
  .about-us__body {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .bodyblock {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    padding: 10px;
    margin: 0 0 100px 0;
  }
  .bodyblock__comments {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
  }
  .bodyblock__photo {
    margin: 0 0 15px 0;
  }
}

.get {
  background: #3c5499;
  padding: 120px 0 0 0;
}

.get__title {
  max-width: 780px;
}

.get__input {
  margin: 76px 0 0 0;
}

.input-field {
  background: #273a71;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 414px;
          flex: 0 1 414px;
  border-radius: 3px;
  font-size: 18px;
  color: #fff;
  line-height: 18px;
  padding: 14.5px 25px;
  font-family: inherit;
}

.input-field::-webkit-input-placeholder {
  color: #fff;
}

.input-field:-ms-input-placeholder {
  color: #fff;
}

.input-field::-ms-input-placeholder {
  color: #fff;
}

.input-field::placeholder {
  color: #fff;
}

.input {
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 27px 32px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: inherit;
}

.input__message {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 860px;
          flex: 0 1 860px;
  height: 200px;
  margin: 0 0 59px 0;
}

.input__button {
  background: #30bae7;
  -webkit-box-shadow: 0 3px 0px 0px #30b9e796;
          box-shadow: 0 3px 0px 0px #30b9e796;
  margin: 0 0 115px 0;
}

.input__button:hover {
  background: #30b9e7b4;
}

.input__button:active {
  -webkit-box-shadow: 0 1px 0px 0px #30b9e796;
          box-shadow: 0 1px 0px 0px #30b9e796;
}

@media (max-width: 992px) {
  .get__title {
    max-width: 630px;
  }
  .input {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}

.footer {
  background: #344b8e;
}

.footer__row {
  height: 112px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__text {
  font-size: 24px;
  font-weight: 600;
  letter-spacing: 0.02em;
}

@media (max-width: 742px) {
  .footer__text {
    font-size: 15px;
  }
}

@media (max-width: 480px) {
  .footer__text {
    font-size: 8px;
  }
}

.footer__text a {
  color: #fff;
  margin: 0 15px;
}

@media (max-width: 992px) {
  .footer__text a {
    margin: 0 5px;
  }
}

.footer__text a:hover {
  color: #30bae7;
}
